[2020-06-05 15:49] jakewies opened #2 "Update asset bundling pipeline"
When I first built this site I used a combination of tools for styling and js. I wrote vanilla JS that I bundled using `gulp` and also bundled my styles which  were written in `stylus`.

I don't have a problem with continuing it this way. Or we could switch it up. I don't think its that important. The styling can probably use some cleanup as well. There might be a lot of stuff in there no longer u

[2020-06-05 15:53] jakewies opened #3 "Add support for overriding the about page"
Right now the theme only supports configuration of the about page, but it should be easy to override this for the user's own design. Right now the best way to expose that is probably by documenting how it can currently be done, and then brainstorm other options that are more user friendly than overriding the `layouts/index.html` page.

[2020-06-12 18:26] xvallspl opened #6 "Add support for post's table of contents"
Hi! Loved your theme and I want to use it for my blog. Thanks for opensourcing it :)

I am missing what I consider a very important feature for long posts, and that's the table of contents. This should be easy to implement as you can generate it with `{{.TableOfContents}}`, but getting it to fit perfectly with the style of the blog might be a challenge, and I'm definitely not a designer.

I don't

[2020-06-12 18:35] jakewies commented on #6
That sounds like a great idea @xvallspl! Would you like to give it a shot? We can work on the design together.

[2020-06-12 18:47] xvallspl commented on #6
Sure, I will give it a start.

[2020-06-14 04:48] somaniarushi opened #7 "Fix Nav-Links"
Right now, the navigation links in the top-right corner `about` and `blog` lead to `/blog` and `/blog/blog` respectively and thus do not work correctly.

[2020-06-15 07:47] Juu- opened #8 "deactivate the home page ?"
Hi everyone,

Is it possible to deactivate the home please ?
It will be perfect for me to just have the blog section at the _home_

Thanks for your work,
Julien

[2020-06-15 14:13] jakewies commented on #7
Hey @somaniarushi ! Could you give me a quick step-by-step to replicate this issue?

I ran the [example site](https://github.com/jakewies/hugo-theme-codex/tree/master/exampleSite) and had no issue. Is this happening to you when you start a bootstrap a new project with `hugo-theme-codex` as your set theme?

[2020-06-15 14:16] jakewies commented on #6
Hey @xvallspl, not sure if you started on this yet. I just thought of an interesting design that could work well. If you go to the `/blog` route on a desktop you can see the tags available on the right hand side. This text is styled with gray as the color, and it's situated on the right hand side of the screen.

If a post optionally opts into table of contents, we could render it in the same spot

[2020-06-15 15:17] jakewies commented on #8
Hey @Juu- ! Thanks for checking out my project.

At the moment there isn't a convenient way of deactivating the home page. I also don't believe this to be a core tenet of this theme so I don't think it is in the cards for me to refactor the project to support such a feature.

However I still want to be of some service. The way I see it, you have a few options:

1. You can use this theme and overri

[2020-06-15 16:21] xvallspl commented on #6
I still haven't started, but that's what I was thinking about. However, I would like to keep the post centered, and the table of contents darker than the tags.

[2020-06-15 20:32] xvallspl commented on #6
@jakewies I had in mind something like this, but it still needs some tweaking (maybe a lot on the design side) http://xvallspl.github.io/blog/cern/analysischain/

I'll try to get a PR ready with the functionality ASAP

[2020-06-15 20:36] jakewies commented on #6
Love it. Just keep in mind the width of the contents and maybe decided to hide it at <700px or something like that. Then it could be toggled underneath the page title.

[2020-06-15 21:27] xvallspl commented on #6
Yeah, It's already there at 800px IIRC

[2020-06-16 16:44] xvallspl commented on #6
Opened PR https://github.com/jakewies/hugo-theme-codex/pull/10 regarding this

[2020-06-16 17:12] xvallspl opened #11 "Code highlighting not working properly"
Code blocks are illegible.

Even in a simple code block like:

[code]
is rendered as

![image](https://user-images.githubusercontent.com/867299/84805894-393f5b80-b005-11ea-8eb9-9989615330d9.png)

For instance, The following C++ block

[code]
generates a black block (the text is still there when highlighting the line with the mouse)

[2020-06-16 17:49] jakewies commented on #11
I noticed this yesterday. Need to debug this and see what's going on. Prism is not working properly.

[2020-06-16 17:49] #8 closed

[2020-06-16 17:52] xvallspl commented on #11
I tried getting rid of prism and using the default syntax highlighting, but It didn't work either. From a quick and dirty debuggin seems that at least part of the problem is in the css (post in this case).

Might give it another look tomorrow if you can't figure it out.

[2020-06-16 17:53] jakewies commented on #11
Ok great thanks for your help!

[2020-06-16 18:42] Juu- commented on #8
Hi @jakewies !

I will do your options and I think it will be great.

Thanks for your help and work,
Julien

[2020-06-17 00:05] somaniarushi commented on #7
Hey Jake, completely my bad –– it was a problem with setting the base URL. If you set it with a /xxx, the nav links add that to the nav burger. Sorry about that!

[2020-06-17 00:05] #7 closed

[2020-06-17 12:57] #2 closed

[2020-06-17 12:58] jakewies commented on #2
Addressed in https://github.com/jakewies/hugo-theme-codex/pull/13

[2020-06-17 13:12] jakewies opened #14 "JS/CSS files in the static directory are being marked as modified by git"
Not yet sure why this is happening. Probably something to do with the way gulp is writing the files from their source.

[2020-06-17 13:40] #3 closed

[2020-06-17 15:11] russianryebread commented on #11
I generated a custom prism css file (I wanted a different template anyway) and added it to the blog template, and it worked just fine.

In `/layouts/blog/single.html`
[code]

[2020-06-17 15:38] jakewies commented on #11
I've actually been heads down fixing this issue for the last hour or so. There are actually a few nuances going on here.

As @russianryebread mentioned, you need a stylesheet to get things running. However, this theme includes [a custom syntax highlighting theme](https://github.com/jakewies/hugo-theme-codex/blob/master/src/styles/partials/_github-syntax-highlighting.styl), something I wrote a few

[2020-06-17 15:47] jakewies commented on #11
Closing with #16

[2020-06-19 13:09] jakewies commented on #14
Quick update on this issue:

When the npm script `yarn watch:assets` is triggered, sourcemaps are added to the generated css files. This causes git to mark the css files as "modified", even though source code hasn't changed. This can be an annoyance. Why? Well, if you're developing on this project, every css file will be marked as modified as soon as you run `yarn watch:assets`, cluttering up your

[2020-06-19 18:40] kentnek commented on #14
Hmm how about using SASS/SCSS as Hugo [can support it natively](https://gohugo.io/hugo-pipes/scss-sass/) without using other tools like gulp? This way we only need to include the source scss files, while the output css is generated by hugo itself while serving/building.

[2020-06-19 18:58] jakewies commented on #14
I wasn’t aware of Hugo’s native support. I actually really like this. It removes the need to have build step at all. If you consider what’s actually being done with gulp....it’s overkill. We can move the very limited JS to the static directory completely, images/icons as well, and write styles in scss/sass.

.... I dig on it.

[2020-06-19 19:00] kentnek commented on #14
^ Another theme that I used previously uses scss and the folder structure is super nice, with support for a `custom.scss` for users to add in their own styles. I'm actually translating my fork to scss so I'll take this issue.

[2020-06-19 19:02] jakewies commented on #14
If this were the case then I’d agree,  but the problem is that the source stylus files can remain unchanged and gulp will still append sourcemaps on the output css files if you run `yarn watch:assets`.

Take this as an example:

You clone the repo and want to make a change. You install deps and then decide to run `yarn watch:assets` before getting to work. As soon as the command runs, git will say

[2020-06-19 19:03] jakewies commented on #14
@kentnek go for it!

[2020-06-19 19:04] kentnek commented on #14
oh ouch I wasn't aware of that. But yeah switching to SCSS/SASS will fix this issue too so yeah we can shoot two birds with one stone haha

[2020-06-19 19:08] jakewies commented on #14
And remove some dependencies! Big win. I'm going to read up on style support for Hugo. I'm just curious.

There was no real reason for me to use stylus. I was kind of fascinated by its creator due to their prolific nature, but at this point its just not a need.

[2020-06-19 19:33] kentnek opened #31 "Add more social icons?"
More social icon SVGs, such as Instagram, LinkedIn and email, can be added.

[2020-06-19 19:36] jakewies commented on #31
We could definitely support more social icons natively. I've seen examples in the wild of others who have expanded upon what this project includes (github/twitter).

cc @chuxinh - maybe you have some input on how you accomplished this?

[2020-06-20 09:47] styamsingh opened #32 "Change subheading on the homepage with paragraph"
Hey. First, I would say that this is really well built theme and I have been using it to build my personal website (it's not entirely done) and I have a suggestion that can be incorporated in the theme.

The subheading for the homepage is taken from `_index.md`'s `subheading` section but it's really limiting. First, you can't have a line break for typing multiple paragraphs. I think most people wo

[2020-06-20 15:26] jakewies commented on #32
Hey @styamsingh ! Thanks for your interest in the theme. I'm glad it's been working out for you (for the most part).

You bring up an interesting point. The `index.html` page is quite limiting. But that is by design. My aim is to provide a constrained solution for those who want to get up and running quickly.

I understand this isn't going to work for you, and you won't be the last to feel this wa

[2020-06-20 15:29] jakewies commented on #32
Another option you might consider is to keep the homepage as is and add a separate page for more details on who you are. @chuxinh has done this [on her own site](https://www.chuxinhuang.com/) and it looks great.

But, I don't want to tell you how your website should look! If you want your "about me" to be detailed on the homepage, then by all means 😄

[2020-06-20 16:03] styamsingh commented on #32
Thank you for taking the time to write a detailed answer @jakewies.

I didn't know about the overriding of files upon creating a new file of the same name in the root directory (and subdirectories) - definitely going to be useful while developing the website. I should have read the docs on Hugo's website before writing any code of my own 🤦  (well, in my defense, I skimmed through the documentation

[2020-06-20 19:15] jakewies commented on #32
@styamsingh not a problem! If you have any more issues / possible features please feel free to hop in and start a discussion 👍

[2020-06-20 19:15] #32 closed

[2020-06-21 08:21] kentnek commented on #31
@jakewies oh I thought you were using some ready-made icon packs for the existing GitHub/Twitter icons. I guess I'll use some free "outline social icon packs" for my fork then.

[2020-06-21 12:25] chuxinh commented on #31
@kentnek The current theme is a bit tedious in terms of adding social icons. My site is achieved by the following:
- Have a partial of `social-icons.html`
- define social icons in the partial like below:
[code]
To render those icons properly, you need to modify or add in the css. I saved all svgs in a file under `static/icons`
[code]
And then you can use those partials anywhere needed. Hope that h

[2020-06-21 12:27] kentnek commented on #31
@chuxinh oh my problem is actually finding the SVGs. May I know where you obtain the SVGs for other icons?

[2020-06-21 12:30] chuxinh commented on #31
@kentnek there's a good site for you looking for SVGs: https://www.flaticon.com/
Can use those free one for both personal and commercial  use.

[2020-06-21 13:33] jakewies commented on #31
@kentnek i believe the icons I used were from https://feathericons.com/

[2020-06-21 13:45] kentnek commented on #31
@jakewies oh awesome this is exactly what I need. I'll add in some more icons after finishing the SCSS PR.

[2020-06-21 14:11] jakewies commented on #31
We could open a PR to add some svg icons from feather that cover "most" use cases, and they can be optional based on configuration setup that we decide on.

[2020-06-21 14:17] kentnek commented on #31
^ Yep, I'm also thinking that way.

[2020-06-22 13:32] xvallspl commented on #11
Oh, sure. But the way the theme's CSS is set up, it messes with the default style for codefences, in case the user wants to use them instead of prism.js.

[2020-06-22 14:20] jakewies commented on #14
Closing with #33 great work @kentnek !

[2020-06-22 14:20] #14 closed

[2020-06-22 14:25] jakewies opened #34 "Reference to an email social icon in README"
I noticed that there is a reference to adding an email social icon in [the README](https://github.com/jakewies/hugo-theme-codex/blame/master/README.md#L62). @chuxinh was this a mistake? I don't think the theme supports this at the moment. If it is I'll go ahead and remove it for the time being.

[2020-06-22 14:48] jakewies opened #35 "Do we need to document the usage of hugo extended for scss support?"
This is a question for @kentnek . I know in the README there is now a prerequisites section saying that users need the "Hugo extended" version. I didn't know this was a thing. Initial googling doesn't present a clear picture for me and I'm afraid others may have the same issue.

Should we document how to use the extended version a little better? Or is this a non-issue?

[2020-06-22 19:48] kentnek commented on #35
Hmm most other themes that I have used don't elaborate further either. And actually when I installed Hugo for the first time, the Hugo website also mentioned that to use SCSS, install the extended version:
![image](https://user-images.githubusercontent.com/7024160/85328984-41673180-b504-11ea-9f60-b9e9608df0fd.png)

But yeah, I can explain a bit more in the documentations, but it's not a major issu

[2020-06-22 19:52] kentnek commented on #35
Oh lol actually for MacOS users, the extended is [installed by default](https://github.com/gohugoio/hugoDocs/issues/823). 🤣

I'll add some docs for Windows users like me then.

[2020-06-22 20:12] jakewies commented on #35
Closing with https://github.com/jakewies/hugo-theme-codex/pull/39

[2020-06-22 20:12] #35 closed

[2020-06-22 23:39] chuxinh commented on #34
Not really a mistake here as it's the current manual way of adding email and other social icons. However they do need to find their own SVGs to make it work. Do you think we should remove that for now as it's not very customisable?

[2020-06-23 02:33] jakewies commented on #34
Oh ok I gotcha. I will update the docs to make it clear the user has to bring their own svg. I read it as if the theme supports an email icon as long as I follow those steps. Which is true up until the point of actually adding the icon.

[2020-06-23 02:34] jakewies commented on #34
We’ll have a more configurable solution in the future too.

[2020-06-23 13:55] kentnek opened #41 "Add theme's url to the repo's about section"
@jakewies Could you add `https://themes.gohugo.io/hugo-theme-codex/` as this repo's website? That way the link will appear in the About section, making it easier to go to the demo page.

![image](https://user-images.githubusercontent.com/7024160/85412327-0b758c00-b59c-11ea-87e7-80a225b265ee.png)

[2020-06-23 14:23] jakewies commented on #41
Oh ya def a good idea!

[2020-06-23 14:26] jakewies commented on #41
Done

[2020-06-23 14:29] jakewies commented on #31
Closing with https://github.com/jakewies/hugo-theme-codex/pull/40

[2020-06-23 14:29] #31 closed

[2020-06-23 14:29] jakewies commented on #34
Closing with https://github.com/jakewies/hugo-theme-codex/pull/40

[2020-06-23 14:29] #34 closed

[2020-06-24 08:04] kentnek opened #46 "Make `baseof.html` more modular"
I think we can make the `baseof.html` more modular by splitting into several partials that powerusers like me might modify, e.g. `meta.html`, `favicon.html`, `styles.html`, etc. you get the idea. Some examples are:

## partials/base/title.html
This partial would hold the `<title>` element, for people to customize the website's title.

## partials/base/favicon.html
Nowadays including a single `favi

[2020-06-24 09:14] pyvain opened #47 "Suggestion to rename /icons directory for simpler compatibility with Apache web server"
Most Apache web server installations come out of the box with a configuration file treating the `/icons/` route as a special case.

More precisely, the `mod_alias` configuration file (enabled by default) sets the `/icons/` route to point to the `/usr/share/apache2/icons/` folder on the server instead of the `/icons` folder of the website being served.

Here is a mention of the "problem": https://s

[2020-06-24 09:24] kentnek commented on #47
Yeah I don't mind putting the images to '/images` and social icons to `/images/social`. Whaddya think @jakewies?

[2020-06-24 13:17] jakewies commented on #46
Yes I think this is a good solution for use cases I haven't thought about. Makes the theme more extensible.

[2020-06-24 13:31] jakewies commented on #47
Thinking out loud here:

Hugo takes anything in the `static/` directory and puts it at the website root for use in the app. So the `static/icons/` directory can be accessed at `www.your-site.com/icons/`. This is a problem for Apache users because their server treats the `/icons` route as a special case.

Do I have that right?

And the proposed change is to replace the `static/icons/` directory wit

[2020-06-24 15:04] kentnek commented on #47
Yes it appears to be [the case](https://electrictoolbox.com/apache-icons-directory/). In our HTML code we do often refer to the path `/icons/...`, which Apache2 servers will treat as `usr/share/apache2/icons/...`.

Also `/images` is a more commonly used paths for static image resources so I'm fine with changing that.

[2020-06-24 15:06] kentnek commented on #46
Okay I'll work on this then.

[2020-06-24 15:13] jakewies commented on #47
Ok I'm totes on board with this.

[2020-06-24 15:41] pyvain commented on #47
Here is a PR :slightly_smiling_face:

[2020-06-24 17:15] pyvain commented on #47
Merged :slightly_smiling_face:

[2020-06-24 17:15] #47 closed

[2020-06-24 18:09] jakewies opened #51 "Expose accent color config"
The current color scheme revolves around a single primary color: `#9013fe`. I think we could make this a configurable value, but I'm not yet sure how we can access the value in a stylesheet. Just something that popped into my head. I like the idea of having a configurable accent color that is used throughout the site.

[2020-06-24 18:16] kentnek commented on #51
Yep this is what's on my mind for the last few days. My previous SCSS PR did make it possible to use Hugo variables in scss files, but unfortunately it doesn't work on partials like `_colors.scss` or `_vars.scss`. There are a few workarounds, but the main gist is to move all configurable scss variables to a separate file (and remove existing hard-coded values along the way).

I was looking at this

[2020-06-24 18:19] jakewies commented on #51
Sure thing go for it! And ya I agree, TOC should come first. Just had it on my mind and wanted to dump it before I forget.

[2020-06-25 13:15] jakewies opened #54 "Add prettier"

[2020-06-27 14:04] jakewies commented on #6
Closing with https://github.com/jakewies/hugo-theme-codex/pull/10

[2020-06-27 14:04] #6 closed

[2020-06-27 20:17] kentnek opened #58 "Large padding at the bottom of the page"
I just realized there's a huge padding at the bottom of blog posts that I recall was not there before.

![image](https://user-images.githubusercontent.com/7024160/85931331-42c69e80-b8f6-11ea-90c4-94c4c2b3e24b.png)

Was it by design or a bug?

[2020-06-27 20:26] kentnek commented on #58
Oh it's because the `<footer>` (`padding-bottom: 1.5rem`) is nested inside `<main>`,  which also has another `padding-bottom` of 3rem, so now there's 4.5rem of whitespace in total 😆

[2020-06-27 22:39] #58 closed

[2020-06-29 19:57] aareet opened #60 "Clickable elements too close together"
Hi there, thank you for this theme - I am a fan!

I've set up the theme on my website, where I have Google Search Console enabled to work on the SEO of the site. Google sent me an email after I switched to this theme with the following issue: "Clickable elements too close together". I believe they're referring to the items in the sidebar and the social icons. Just wanted to report the issue to see

[2020-06-30 15:28] kentnek commented on #60
Strange, I don't think the items on the sidebar/social icons are too close together, especially on the mobile version:

<p float="left">
<img src="https://user-images.githubusercontent.com/7024160/86144775-acc68a00-bb28-11ea-96d9-4ba12a299486.png" height="400px">
<img src="https://user-images.githubusercontent.com/7024160/86144792-b18b3e00-bb28-11ea-9960-96154589a2aa.png" height="400px">
</p>

Is

[2020-06-30 16:18] aareet commented on #60
Yes, I was confused as well since it's not visually apparent. Clicking on the error just takes me to

https://support.google.com/webmasters/answer/9063469#touch_elements_too_close

[code]

Maybe it has something to do with "Size Tap Targets"

[2020-06-30 18:54] kentnek commented on #54
closed by #57.

[2020-06-30 18:54] #54 closed

[2020-06-30 18:57] kentnek commented on #60
@aareet hmm that's interesting. I also notice that the social icons are a bit small too tap on, perhaps some padding would be good. Would you be able to apply this fix on your fork/site (by overriding `customs.scss`) and help us check if doing so would resolve the warning from Google Console?

[2020-06-30 21:07] aareet commented on #60
I added `padding: 16px;` to the social icons and it passed the initial quick validation of the search console. I found this article https://web.dev/accessible-tap-targets/ that recommends touch targets have 8px padding horizontally and vertically. I'll report back on the full validation but it seems to be as simple as that to fix it.

[2020-07-01 13:50] kentnek commented on #60
@aareet this is great news! If things go well, please submit a PR for this. Thanks so much for looking into this issue!

[2020-07-01 13:56] kentnek opened #61 "[IMPORTANT] Demo site is broken"
![image](https://user-images.githubusercontent.com/7024160/86252257-8d416700-bbe5-11ea-9d0b-8d7b7f3b397d.png)

@jakewies could you look into this?

[2020-07-01 13:59] kentnek commented on #61
I think the build process for that is somehow broken
![image](https://user-images.githubusercontent.com/7024160/86252404-c2e65000-bbe5-11ea-867e-f42285772a38.png)

[2020-07-02 00:58] aareet commented on #60
Unfortunately no dice. I'll keep trying padding on the other elements on the page

<img width="659" alt="image" src="https://user-images.githubusercontent.com/33654/86304640-5c9d0580-bbc4-11ea-8aab-78d045951289.png">

[2020-07-02 01:40] jakewies commented on #61
This is a strange issue. The master branch builds just fine, but the hosted demo on themes.gohugo.io break. The hosted demo is also trying to request `scss` files instead of the `static/css` files.

[2020-07-02 01:52] jakewies commented on #60
It's odd that google can't tell you which items are too small. It would be helpful.

The social icons are REAL SMALL:

![Screen Shot 2020-07-01 at 9 52 54 PM](https://user-images.githubusercontent.com/12075916/86307525-f5437d80-bbe4-11ea-99d9-52421206e858.png)

I can't think of anything else, unless there is something going on with the way the mobile menu is built. I'm thinking maybe an element is

[2020-07-02 04:50] kentnek commented on #61
@jakewies is the hosted demo using `hugo-extended`? also i think you linked the wrong issue in your comment

[2020-07-02 11:39] jakewies commented on #61
It could be that. I mentioned it in the issue. I also updated the issue link.

[2020-07-02 12:04] kentnek commented on #61
Oh I didn't know there was a repo for all the themes. It turns out:
[code]

Looks like we need to include the `/resources/_gen` folder for the demo site to work. I've also looked at [a theme](https://github.com/kimcc/hugo-theme-noteworthy/tree/de668f23496e2658924ea749d87e7acbd6fad405) that I used previously and they did that as well.

[2020-07-02 12:19] #61 closed

[2020-07-02 12:25] kentnek commented on #61
@jakewies can you update the commit reference in the themes repo too? I don't know how to do that

[2020-07-02 13:59] jakewies commented on #61
@kentnek Not sure how to do that either. If you're referring to the fact that the theme demo is still broken even after https://github.com/jakewies/hugo-theme-codex/pull/62, it might be because of [this](https://github.com/gohugoio/hugoThemes#theme-updates). Looks like the themes get updated at:

[code]

The readme for the hugo themes repo doesn't have any docs on how to update a commit reference.

[2020-07-03 05:03] aareet commented on #60
Hmm yes, the article does seem to indicate 24x24 should be the minimum size of a touch target so maybe the 19x19 isn't cutting it -

```A minimum recommended touch target size is around 48 device independent pixels on a site with a properly set mobile viewport. For example, while an icon may only have a width and height of 24px, you can use additional padding to bring the tap target size up to 48p

[2020-07-03 21:37] aareet commented on #60
Ok, I got it working with the following in custom.scss. `padding: 24px;` worked where `padding: 16px;` did not.

<img width="596" alt="Screen Shot 2020-07-03 at 2 37 11 PM" src="https://user-images.githubusercontent.com/33654/86498430-af003280-bd3a-11ea-9876-705f7653b14a.png">

[code]

[2020-07-04 16:06] Jasonwi opened #64 "strange social icon display on site"
I deploy the static website successfully at local but the social icon not appear at the about page
i check your github pages have same situation
hugo env
[code]
![Snipaste_2020-07-04_23-51-03](https://user-images.githubusercontent.com/59698185/86516429-0d203900-be53-11ea-9ca9-fabd7ee6c518.png)

![demo](https://github.com/jakewies/hugo-theme-codex/raw/master/images/screenshot.png)

[2020-07-04 16:19] jakewies commented on #64
Hey @Jasonwi, have you made any changes to your `config.toml`?

[2020-07-04 16:34] jakewies commented on #60
@aareet awesome work. Would you like to open a PR to make this fix?

[2020-07-04 17:00] jakewies commented on #64
I notice that the demo site isn't rendering with icons either. But when I follow the README instructions the site will render locally with twitter and github icons. @kentnek any thoughts? Still debugging.

[2020-07-04 17:45] kentnek commented on #64
![image](https://user-images.githubusercontent.com/7024160/86518111-203a0580-be61-11ea-9a0c-a100c3cf6970.png)
hmm looks like the icons don't exist on the server that hosts the demo. Is it possible to see the demo's file contents?

[2020-07-04 17:51] kentnek commented on #64
I think [this is the culprit](https://github.com/gohugoio/hugoThemes#common-permalink-issues):

We probably just need to add the `absURL` pipe for the demo site to work.

For @Jasonwi, it could be a different problem as locally it works fine for me. Could you share your `config.toml` file?

[2020-07-05 00:00] Jasonwi commented on #64
@kentnek When i first depoly locally the icon display normal but i forgot what changes were made cause the icon disappear

`config.toml`
[code]

[2020-07-05 14:02] kentnek commented on #64
@Jasonwi your config looks fine to me. If you use Chrome/Firefox, could you open the Inspect/Inspector and see what the error message is?

[2020-07-05 20:12] kentnek opened #69 "Build assets automatically for exampleSite"
After #62, which adds the `resources/_gen` folder back to the `exampleSite`, we should re-generate those resources whenever there's a style change, so the demo site can reflect those changes properly.

@jakewies I'm not sure what the available git hooks are for this project, any thoughts?

[2020-07-05 20:27] kentnek commented on #60
@jakewies Oh I didn't realize this was already merged. Aren't the icons a bit too big now? 😄

What I meant was to add some blank space (padding) around the icon that is also click/tap-able to increase the icon's click/tap region.

Currently the class `.social-icons__icon` is applied to the `<a>` element directly, which has the icon SVG as the background. This means adding `padding` to this class w

[2020-07-05 20:31] kentnek commented on #60
Something like this?
![image](https://user-images.githubusercontent.com/7024160/86541709-8c8c3600-bf41-11ea-8019-201ea56b8a80.png)

[2020-07-05 21:26] jakewies commented on #60
@kentnek you’re right they are bigger than I realized. I should’ve caught that. With just the changes to the padding we can keep the same icon size but increase their clickable surface.

[2020-07-06 00:21] ElasticBottle commented on #11
Can second this about the codefences

Is there any way to fix it // change prismjs theme?

[2020-07-06 01:44] jakewies commented on #69
We're using [`husky`](https://github.com/typicode/husky) for easier git hook integration. In the docs there is [a link to the supported hooks](https://github.com/typicode/husky#supported-hooks).

That should work out for us, however I'm still unsure how to re-gen the `resources/` dir other than running `hugo server`. Is there another way?

[2020-07-06 01:53] jakewies commented on #60
@aareet with @kentnek 's latest change we should have the same visual icon styles as before but with a larger clickable surface area. If you wouldn't mind checking these changes when you have some time and let us now how it affects the results in Google Search Console we can move forward and close this issue 😄

[2020-07-06 02:07] jakewies commented on #11
Hey @ElasticBottle!

Just trying to understand your issue better. The point that @xvallspl made was that if users of this theme want to use the default Hugo syntax highlighting rather than `prismjs`, they will have issues because [this theme's custom syntax highlighting](https://github.com/jakewies/hugo-theme-codex/blob/master/assets/scss/partials/_github-syntax-highlighting.scss) messes with the

[2020-07-06 03:16] kentnek commented on #60
Oh I actually forgot to make the icon's padding a variable so we don't have to manually change the negative `left-margin` of the icon row on the about page. After @aareet can verify if GSC is happy with this, I'll make another PR to make the padding a variable.

[2020-07-06 03:25] Jasonwi commented on #64
@kentnek on my edge i catch the icon url /images/social/twitter.svg get `https://themes.gohugo.io//theme/hugo-theme-codex/images/social/twitter.svg` normal but not show on page(local and codex pages)

![Snipaste_2020-07-06_11-00-45](https://user-images.githubusercontent.com/59698185/86552609-15739380-bf7b-11ea-8b27-a7b09f54deb7.png)

![Snipaste_2020-07-06_10-59-21](https://user-images.githubuserco

[2020-07-06 03:45] kentnek commented on #64
@Jasonwi can you show the Console with the error log instead?

[2020-07-06 04:24] Jasonwi commented on #64
@kentnek it's shows nothing
![my local site](https://o2-1258123310.cos.ap-beijing.myqcloud.com/images20200706122245.png)

[2020-07-06 04:46] aareet commented on #60
I've updated the site, let's see what Google says 🙏

[2020-07-06 05:04] ElasticBottle commented on #11
Thanks so much for the speedy response!

Yeap, exactly what I encountered.

I removed
[code]
from config.

Here is how the syntax highlighting looks:
![image](https://user-images.githubusercontent.com/44563205/86557395-92f1d080-bf88-11ea-8df8-6754a1cd8470.png)

I tried removing  `_github-syntax-highlighting.scss` altogether but it doesn't work. I am assuming that some where in the layouts, the css

[2020-07-06 05:56] kentnek commented on #64
on the demo the icons are not showing due to "https://themes.gohugo.io/theme/hugo-theme-codex" due to a different bug. And it should have shown the error log like this:

![image](https://user-images.githubusercontent.com/7024160/86560185-53c77d80-bf90-11ea-8079-e35672b8295e.png)

The bug is fixed and whenever Hugo Themes rebuilds our code, it'll be reflected on the demo site.

However, for your we

[2020-07-06 06:12] kentnek commented on #41
Oh I just noticed there's an extra slash in the url:

![image](https://user-images.githubusercontent.com/7024160/86561207-b752aa80-bf92-11ea-842e-18da96bfde37.png)

[2020-07-06 06:34] Jasonwi commented on #64
@kentnek many thx! the strange issue cause the Adguard default rule catch the social infomation [Social media filter](https://kb.adguard.com/en/general/adguard-ad-filters#social-media-filter)
I really didn't think it would cause this issue until i install a new browser 😂

[2020-07-06 06:39] kentnek commented on #64
Oh this is actually interesting! It never came to me that ad blocking extensions might complain because we have "social" in our asset paths. What are your thoughts on this? @jakewies

[2020-07-06 14:25] kentnek commented on #69
from the themes repo:

I think we can run `hugo`, get the `resources` from `public/` and place the generated folder in `exampleSite/`.

[2020-07-06 17:23] jakewies commented on #60
@aareet I'm going to close this issue for now. If your problem persists we can reopen 😄

[2020-07-06 17:23] #60 closed

[2020-07-06 17:51] jakewies commented on #11
I've done some debugging on this and I've found the issue:

In `exampleSite/config.toml` you'll find the following:

[code]

The comments say to remove this configuration if you want to use Hugo's default syntax highlighting. This is a necessary step, but doesn't get you all of the way there. As you've already seen, doing so will result in the following syntax highlighting styles:

![](https://cdn

[2020-07-06 17:54] jakewies commented on #11
I'm going to work on a PR that will hopefully remove this issue for people. If users want to opt into Hugo's default syntax highlighting they should be able to through an easy config. That's goal at least.

[2020-07-06 17:59] jakewies commented on #41
Super weird behavior here. If you go to:

[code]

It will work just fine. However, any future navigation you make around the site will result in that 2nd slash being injected into the url. I have no clue why. It's not just our theme that does this. It seems to be a common thing on all themes. I'll make the adjustment anyway 👍

[2020-07-06 17:59] #41 closed

[2020-07-06 18:06] jakewies commented on #64
Yoinks. A few weeks ago we had [an issue arise](https://github.com/jakewies/hugo-theme-codex/issues/47) over a similar issue. It resulted in https://github.com/jakewies/hugo-theme-codex/pull/48 which renamed `/static/icons` (old) to `/static/images/social` (current). So now we have run into another one of these naming issues 😆

Ok, so it looks like the quickest solution would be to rename the asse

[2020-07-06 18:08] jakewies commented on #69
Ya the could definitely work. We can create an npm script that takes care of this. But we wouldn't need to rebuild the `resources` directory unless changes have been made to the source `scss` files, right?

[2020-07-06 18:24] kentnek commented on #69
yep, is this possible with `husky` to only run some script selectively, i.e. when that `scss` folder is modified?

[2020-07-06 18:27] kentnek commented on #64
`static/svg` sounds good to me. I can't think of a situation where that would become a problem hahaha

[2020-07-07 06:15] ElasticBottle commented on #11
Interesting, I tried the step above and ended up with this:
![image](https://user-images.githubusercontent.com/44563205/86724990-db2df300-c05b-11ea-93f9-0ab5d910045e.png)

I tried digging a little deeper and noticed about the asset under resources, removing the scss file `post.scss_9b5a08989dabcb86a5d520fc24aa3741.content` results in proper highlighting but no more formatting

![image](https://use

[2020-07-08 00:52] jakewies commented on #69
Yes indeed. In our `package.json` we have this:

[code]

This config says "run [`lint-staged`](https://github.com/okonet/lint-staged) on the pre-commit hook". `lint-staged` is a tool that we have as well to run scripts on staged files. You can see our `lint-staged` config in `package.json` as well:

[code]

Right now `husky` and `lint-staged` are working together to do one thing, and that is to ru

[2020-07-08 00:54] jakewies commented on #64
Same lol I'll open a PR for this

[2020-07-08 01:00] jakewies commented on #11
Interesting. This could have something to do with https://github.com/jakewies/hugo-theme-codex/issues/69.

I did my testing using our development workflow, where I was able to see style changes to the `exampleSite` demo when editing the source `scss` files. But you are probably using the theme as most people would, i.e. adding it as a `git submodule`. Am I correct?

[2020-07-11 06:31] aareet commented on #60
Just to confirm, no complaints from Google Search Console since the updates.

[2020-07-11 13:03] ElasticBottle commented on #11
Yup, exactly right, I have been playing around with the site, but am still pretty lost.

There doesn't seem to be many documentation on Hugo pipes and generating resources 😞

Initially, I copied the `resource/_gen` folder over from the `exampleSite`.

Looking at #69 that you mentioned,

In particular, I tried:

However, for `hugo server`, the resource folder generated contains two empty folder `as

[2020-07-11 15:34] kentnek commented on #60
awesome, thanks for the confirmation @aareet!

[2020-07-11 15:54] kentnek commented on #11
hmm you're not supposed to copy the `resources/_gen` folder from the `exampleSite`, as it's only a cache for the demo to work.
Running `hugo serve` should _theoretically_ generate your site's own `resources/_gen` folder.

I tried cloning your [blog project](https://github.com/ElasticBottle/winykh) (hope you don't mind) and the `resources` folder was generated properly with `hugo serve`.

![image](

[2020-07-11 16:04] kentnek commented on #11
@jakewies I got an idea to achieve this elegantly. Currently, each page is defining its own stylesheet using the `style_opts` in Hugo's Scratch. We can extend this to accept a list of styles, so that for the `single.html` template, we could conditionally add in the custom syntax highlighting stylesheet if people opt for `prism.js`.

I can work on this :)

[2020-07-12 21:59] jakewies commented on #11
Hey @kentnek sorry I've been a bit busy IRL. I like this idea you've proposed. If you want to give it a shot go for it!

[2020-07-13 13:48] ElasticBottle commented on #11
Right on point, I had both the normal hugo version and the `extended` version installed, seems to be some conflict going on.

After rebuilding, I followed @jakewies  steps as mentioned and everything worked perfect

I might add that 4. remove `resource` folder, close any open hugo development servers and run `hugo serve` again to generate the `resource` folder files

Thanks so much for the active

[2020-07-13 13:52] kentnek commented on #11
@ElasticBottle I'm glad it's working for you! I guess we need to make the mention of `hugo-extended` **bolder** in the README 🤣

also I'll work on a PR so that you don't have to manually do @jakewies's suggestions anymore. I'll close this issue first, and let you know later when that PR is live.

[2020-07-13 13:52] #11 closed

[2020-07-13 14:58] aldrineeinsteen opened #73 "Enable summary for the post in blog"
Enable summary into the posts of every blog

![image](https://user-images.githubusercontent.com/4903148/87319127-da5afc80-c546-11ea-8d33-73c26549b59c.png)

The blog post looks odd without any summary.

[2020-07-13 15:11] kentnek commented on #73
oh yes I was thinking about this too. I don't mind adding an option to expose the summary, let me try that.

[2020-07-13 15:13] jakewies commented on #73
Hey @aldrineeinsteen ! Thanks for your interest in this theme. Hugo themes are overridable, meaning Hugo will look at your project files to resolve a layout before it looks into the theme's files.

If you installed the theme following the [`README`](https://github.com/jakewies/hugo-theme-codex/blob/master/README.md#getting-started), you should have installed it at `/themes/hugo-theme-codex`. The p

[2020-07-13 15:18] kentnek commented on #73
@jakewies oh yes it should be configurable, as I don't want to force that on other people either 😂 I actually had that in mind earlier as some of my blog posts already have the `<--more-->` summary divider, which is supported by the previous theme that I used.

[2020-07-13 15:21] jakewies commented on #73
Good idea. How do you envision the configuration for this looking? I think we could separate the `config.toml` params by page. For example:

[code]

This is just the first idea that came to my noggin. What do you think? Do you have another solution?

[2020-07-13 15:27] jakewies commented on #73
Also, @aldrineeinsteen are you looking to have each blog post's description in the list template? The description of a blog post is defined in each post's `frontmatter.description`. Currently this value is being used as site metadata.

[2020-07-13 15:33] kentnek commented on #73
@jakewies no he wanted to show Hugo's [Content Summaries](https://gohugo.io/content-management/summaries/), which is defined in `.Summary`.

I actually wanted to make `showSummary` a site-wide param. Dealing with page-wide params is kinda tricky as the page's key ("blog") is not the same with every user's website. Also a `showSummary` in every page param complicates the config I think, if the user

[2020-07-13 15:36] jakewies commented on #73
@kentnek ok cool I didn't know this was an option. I just tested it out, and the [Rich Content example post](https://github.com/jakewies/hugo-theme-codex/blob/master/exampleSite/content/blog/rich-content.md) outputs some wonky text because it uses shortcodes. From first glance it looks like the `.Summary` value and shortcodes don't play nice together.

[2020-07-13 15:38] kentnek commented on #73
Hmm then I guess we can add in the `` divider before the rich content for the demo to work.

[2020-07-13 16:55] jakewies commented on #69
@kentnek I've been working on this issue today and I am trying to find the best solution. Correct me if I'm wrong here, but I think rebuilding the `resources/_gen/scss` directory is only necessary in scenarios where you make a change to a source `assets/scss` file but don't run `hugo`.

In general, if `hugo` is running at any point during the change, or after, the `resources` directory gets re-bui

[2020-07-13 17:05] jakewies opened #74 "Duplicate `scss` directories in `resources/_gen/assets`?"
@kentnek is this hugo's doing? While working on https://github.com/jakewies/hugo-theme-codex/issues/69 I noticed that the generated `scss` files were placed at:

[code]

Should it be:

[code]

?

And if so, how do we fix that?

EDIT: I just tested by deleting the resources directory and building the example site. Hugo is creating 2 `scss` directories. Not sure why? But I guess it is what is. I'll

[2020-07-13 17:06] #74 closed

[2020-07-13 17:16] kentnek commented on #69
Hmm actually doing this still requires the contributor to manually check in the changed `resources` directory. After pondering on this more carefully, I think we can just request contributors to commit the `resources` dir if during review we see that they make changes to the `scss`. 😂

[2020-07-13 18:04] jakewies commented on #69
I agree. I was prepping a git hook buts it's a hassle. I can update contributors.md file to express this clearly.

[2020-07-13 18:17] aldrineeinsteen commented on #73
I haven't thought of exposing the same as a configuration; i have pushed a code to display the summary by default along with pagination:

![image](https://user-images.githubusercontent.com/4903148/87338730-3df32300-c563-11ea-9263-34905f6600b0.png)

[2020-07-13 18:20] aldrineeinsteen commented on #73
Yes, when started adding summary found the pagination was missing, i have added the same in #75

[2020-07-13 18:35] aldrineeinsteen commented on #73
Added support for configuration in #75

[2020-07-13 21:47] siberianTrousers commented on #64
Just to follow up on this, are you able to help me figure out why I cannot get the social icon to display as desired after updating the filepath to static/svg?

added quickstart/static/svg/reddit.svg:

![image](https://user-images.githubusercontent.com/68250261/87356882-e2a83d00-c530-11ea-8673-046e2433897c.png)

[code]
the site:
![image](https://user-images.githubusercontent.com/68250261/87356776-

[2020-07-14 00:30] Jasonwi commented on #64
@siberianTrousers try to modify theme template file `themes/codex/layouts/partials/social-icons.html`
modified
[code]
also add svg file to this path `themes/codex/static/images/social`
show that
![image](https://user-images.githubusercontent.com/59698185/87366511-6f8fdc80-c5ab-11ea-9de8-437b281d7e06.png)

[2020-07-14 02:05] jakewies commented on #64
Hey @siberianTrousers , so the change hasn't been made yet. I'm working on it right now. I'll ping here when the change has been made.

[2020-07-14 02:37] jakewies commented on #64
Added https://github.com/jakewies/hugo-theme-codex/pull/76 to fix this. When it's merged everything should be working as intended as long as you place the icon at `static/svg`.

[2020-07-14 04:34] aldrineeinsteen opened #78 "Enable pagination in blog view"
Add configuration support in the blog section.

Am thinking about

[params]
  [params.blog]
     ...
     pagination = true
     paginate = 5

[2020-07-14 04:39] siberianTrousers commented on #64
Thanks! Just a quick question, its my first time updating a hugo theme and i'm not sure how to go about doing it? I didn't fork your repo but installed through hugo library on brew. i double checked readme.md but didn't see anything on that (unless i missed it).

[2020-07-14 13:15] jakewies commented on #64
In the `README` there is a [getting started section](https://github.com/jakewies/hugo-theme-codex#getting-started) that describes how to install the theme and use it. In general we do not recommend installing the theme through homebrew. We recommend installing the theme using the official methods described in the [`gohugo` docs](https://gohugo.io/getting-started/quick-start/#step-3-add-a-theme):

[2020-07-14 13:17] siberianTrousers commented on #64
Sorry, yes I meant to say I installed Hugo via home brew but Followed your instructions to the tee to install theme.

With regards to newly committed vers, I can just repeat the steps to get the update? --
Statement of Confidentiality:

The contents of this e-mail message and any attachments are        confidential and are intended solely for addressee. The        information may also be legally p

[2020-07-14 13:25] jakewies commented on #78
@kentnek this is a feature I'd like to have a bigger discussion about. After some thought, I think it would be best to a have a default pagination setup for the blog list, and the default can be overridden using configuration such as @aldrineeinsteen has described.

What are your thoughts?

[2020-07-14 13:31] msfjarvis opened #79 "Code blocks break responsive view on mobile"
I'm currently migrating my site to this theme, and running into a problem where pages with code blocks are just a tad bit too wide for the viewport and mess up the layout. I'm enlisting all the information I believe would be useful below.

- Source: https://github.com/msfjarvis/msfjarvis.dev/tree/codex
- Live version: https://staging.msfjarvis.dev
- Affected pages: https://staging.msfjarvis.dev/po

[2020-07-14 13:34] jakewies commented on #64
We haven't really documented how to get theme updates. You have a few options available to you.

1. Follow the instructions in the [git docs](https://git-scm.com/book/en/v2/Git-Tools-Submodules). If you scroll down the page you'll find a section called "Pulling in Upstream Changes from the Submodule Remote". If you follow these instructions you should be able to merge changes from the remote repo

[2020-07-14 13:34] siberianTrousers commented on #64
Sorry, yes I meant to say I installed Hugo via home brew but Followed your instructions to the tee to install theme.

Just to follow up, i'm trying to reinitiate the hugo project, and im having trouble reinstalling your theme.

[code]

[2020-07-14 14:03] jakewies commented on #64
Ok, it looks like you opted for # 2, which is probably not the best way to do that. I'm going to edit my comment and remove that option.

Since I've never done this before, I'm not sure what the best answer for you is. I would try to stick to the git documentation as closely as possible. The `--force` option does nothing for you other than reuse the existing directory you added in step 1. So you w

[2020-07-14 14:04] kentnek commented on #79
Hi, I did notice this bug and I had somewhat a fix for it on [my personal site](https://kentnek.com/geek/2020/07/yacht-yet-another-compilation-of-hugo-tricks/), where code blocks can be scrolled horizontally when they're too wide.

I haven't submitted that to this repo yet because it requires some changes to the core styles, but I'll work to make it a PR soon.

[2020-07-14 14:08] jakewies commented on #79
Hey @msfjarvis ,

Thanks for setting up an official issue for this. It definitely has something to do with codeblocks. I thought that we had resolved the width issue in a previous commmit. Maybe I was mistaken. @kentnek you good to take this one?

[2020-07-14 14:13] kentnek commented on #78
I don't mind having a pagination, as long as the styling fits our overall look of the theme. I don't really dig the bright red page button in @aldrineeinsteen's PR, which instead can be a semi-transparent grey box like this existing Prev/Next button:

![test](https://user-images.githubusercontent.com/7024160/87436160-3e50f400-c61f-11ea-8a3f-f24f2d137cd3.gif)

Also, the config should also be site-w

[2020-07-14 14:13] jakewies commented on #64
Not sure why the issue closed, I guess if you use the "fixes <issue_number>" syntax in a PR, GitHub will auto-close the issue when the PR is merged.

Anyway, the changes have been introduced into the repo. @siberianTrousers , [the steps you outlined in your original comment](https://github.com/jakewies/hugo-theme-codex/issues/64#issuecomment-657810187) should now work.

The obstacle you'll need to

[2020-07-14 14:14] kentnek commented on #79
@jakewies no we haven't solved that issue yet. Yeah I'll take this one

[2020-07-14 14:15] #69 closed

[2020-07-14 14:15] jakewies commented on #78
Agreed on all accounts. The styles must fit the theme. And the config should exist in config.toml site wide. @aldrineeinsteen if you need help with styling let us know.

[2020-07-14 15:06] kentnek commented on #51
Hmm actually I was thinking of moving all configurable/overridable variables into a separate scss file, something like [this](https://github.com/bep/docuapi/blob/master/assets/scss/slate/_variables.scss). Then the user can override this file with a dedicated overriding scss (like [this](https://github.com/bep/docuapi/blob/master/assets/scss/slate/docuapi_overrides.scss)) as necessary.

Gotemplate

[2020-07-14 15:33] kentnek commented on #64
By the way @siberianTrousers I just wrote a [blog post](https://kentnek.com/geek/2020/07/yacht-yet-another-compilation-of-hugo-tricks/#theme-overrides-with-theme-components) about what I think is the best way to modify a theme (using theme components). You can give that a try!

[2020-07-14 15:54] #79 closed

[2020-07-14 15:56] jakewies commented on #51
Ok that's a good idea though. If we add the accent color is a variable in a scss file that is documented as being "overrideable", then we shouldn't have to pull value from `config.toml`, and we won't have to deal with IDE's yelling at us.

Should we add this value to `custom.scss`.

[2020-07-14 16:06] msfjarvis commented on #79
Thanks for the quick fix @kentnek, things seem to work now!

[2020-07-14 16:11] kentnek commented on #79
@msfjarvis yay i'm glad that it works for you!

[2020-07-14 16:19] kentnek commented on #51
So IMO `custom.scss` is to override the overall styles (as it's applied last), while the `overrides.scss` should be applied right after the `_variables.scss`, and before any other styles.

In the `docuapi` theme, I think the line `@import overrides.scss` should have been placed at the end instead (to override variables defined before the import), but I'm not entirely sure if the import order matte

[2020-07-14 16:25] jakewies commented on #79
You da best @kentnek

[2020-07-14 16:27] jakewies commented on #51
Sure I'll take a peak. I'll probably open a PR to handle this and we can move discuss into there.

[2020-07-14 16:34] kentnek commented on #46
While looking at `docuapi` I see that they have this cool concept of ["hooks"](https://github.com/bep/docuapi#hooks). Basically they are partials that are inserted at strategic locations. I'd personally create a `post-end` (end of post to add in custom comment widgets).

@jakewies if you like this idea too I can implement this along side this PR as they are both related to refactoring `baseof.html

[2020-07-14 17:29] aldrineeinsteen opened #81 "Add a contact us icon with form popup"
Add a chat icon at the bottom with a API from getform.io for sending emails to configured email.

![image](https://user-images.githubusercontent.com/4903148/87457116-8246f780-c625-11ea-97ff-916b43d2bf10.png)

[2020-07-14 17:48] jakewies commented on #46
Definitely!

[2020-07-14 18:15] kentnek commented on #81
I think this should best be applied to your own website as you need it, as most websites (especially those using this theme to be minimal) won't need that as a must-have feature.

[2020-07-14 18:32] jakewies commented on #81
I agree. In general I think it's best if we limit new issues to issues themselves, and only propose a feature if it can be generalized for everyone's use case. The scope of this project is a personal blog, and a contact us section is outside of the scope. We appreciate the suggestion @aldrineeinsteen  , and your effort doesn't go unnoticed.

[2020-07-14 18:32] #81 closed

[2020-07-15 06:57] ProfessorLogout opened #82 "Twitter Meta Tags"
Hi Everyone,

playing around with the meta tags codex generates I found the following:
https://github.com/jakewies/hugo-theme-codex/blob/a9a6f0c92ba89408a0527c5440ff21b30e382e10/layouts/_default/baseof.html#L22

As per the twitter card documentation this value should not be the url but the `@username of content creator`
https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/mark

[2020-07-15 10:31] msfjarvis commented on #82
I invested some time into getting Twitter and Facebook metadata right, which is available as a theme component [here](https://github.com/msfjarvis/hugo-social-metadata), it might offer some pointers into getting things right in Codex. For my personal site I opted to override `baseof.html` and use the component directly since I already had things set up for it from the previous theme I used.

[2020-07-15 12:56] jakewies commented on #82
This is interesting. I didn't realize we were doing things improperly. Thanks a ton for pointing this out @ProfessorLogout. It looks like we'll have to make some adjustments to `config.toml`, as right now we're only requiring the url to the user's Twitter profile. We also have to keep in mind that some people who use the theme may not have a twitter account at all.

@msfjarvis I'm poking through `

[2020-07-15 13:02] msfjarvis commented on #82
I know that you can use a `go.mod` file to load themes into a site, but I'm not sure if that resolves dependencies recursively as well, or whether Hugo will fetch theme dependencies for users who either subtree merge or submodule their themes. Probably need to research a bit.

[2020-07-15 13:04] jakewies commented on #82
@ProfessorLogout I spazzed out and didn't read the rest of your comment. I would love for you to take a stab. I can help you of course. Right now all this info lives in `layouts/_default/baseof.html`, which I believe you've already figured that out. We can use @msfjarvis project as reference and improve the implementation ourselves. What do you think?

[2020-07-15 13:41] jakewies commented on #64
@siberianTrousers any luck?

[2020-07-15 13:51] ProfessorLogout commented on #82
As mentioned in the PR:
Long term I would like to decouple meta tags from the social icons and introduce the ability to change them per post.
Not limited to the two twitter tags changed here.

This would be similar to @msfjarvis efforts with `hugo-social-metadata` but based on my experience with opengraph.
What would you think is the better approach:
1) Contributing in `hugo-social-metadata` and t

[2020-07-15 18:36] siberianTrousers commented on #64
Busy week, thanks for following up but will be the weekend before I can get to it again :) --
Statement of Confidentiality:

The contents of this e-mail message and any attachments are        confidential and are intended solely for addressee. The        information may also be legally privileged. This transmission is        sent in trust, for the sole purpose of delivery to the intended        re

[2020-07-17 01:51] Yeonhoon opened #87 "Tags error when not using English"
Hi!

I'm one of hugo theme codex user. Thank you for making a great simple, minimal theme.

When I use the codex theme, I found there is an error in the tags.

Typing tags not using English(e.g., Korean, Chinense), there is an error like the photo below.

![image](https://user-images.githubusercontent.com/67638499/87739541-1332f400-c81b-11ea-8c40-e3751bb4218e.png)

I hope this issue can be fixed :

[2020-07-17 02:11] jakewies commented on #82
I would love to have social metadata managed in a module such as your `hugo-social-metadata` @msfjarvis, and then we can consume that in this project. I've taken a look at #86 from @ProfessorLogout and I think it will get us over the hump right now. I agree that long term we should find a better solution. It's becoming a little messy in `config.toml`.

I am going to merge the PR and open a new iss

[2020-07-17 02:13] #82 closed

[2020-07-17 02:37] jakewies commented on #87
This is an interesting issue and definitely one I haven't come across before. I don't know yet how to manage it. I'll have to look into Hugo's language support.

[2020-07-17 02:38] jakewies commented on #64
No worries! I'm going to close this issue in the meantime as it should be fixed. Ping here if you have problems 😄

[2020-07-17 02:38] #64 closed

[2020-07-17 05:09] ProfessorLogout opened #89 "Advanced Opengraph Support"
As discussed in #82
For the moment just some quick notes on how we can do this:

- Extract the twitter & other open graph like tags from baseof.html into a file like opengraph.html
- Replicate current behavior in opengraph.html
- Overwrite opengraph.html in https://github.com/msfjarvis/hugo-social-metadata bringing more advanced features
- Telling users to submodule hugo-social-metadata and place

[2020-07-17 05:11] msfjarvis commented on #89
Looks good, happy to help with any changes to my module.

[2020-07-17 09:36] msfjarvis commented on #87
I have a separate problem where tags that contain spaces do not render onto the post, but I don't see anything obviously wrong with the code so I can't tell if it's a bug and where exactly is its source, Hugo or the theme. I'll look into it later today and raise an issue if it's a theme problem.

[2020-07-17 11:22] jakewies commented on #89
Would this mean that hugo-social-metadata would need to be refactored to include an opengraph.html template in order to override the opengraph.html template in the theme?

Just peaked into @msfjarvis project and the template is named social_metadata.html.

I'm on board with this. The first two steps wouldn't include any new changes to this project other than prepping for optional functionality fro

[2020-07-20 13:35] msfjarvis opened #92 "Heading anchors render on the wrong(?) line for multiline headings"
![image](https://user-images.githubusercontent.com/13348378/87943581-df2a2e00-cabb-11ea-8e6c-6ee8f2e5cdbe.png)

IMO this should be rendering on the first line, not the second.

[2020-07-20 20:25] dbrennand opened #94 "Emoji styling"
Hi,

I am looking to use this Hugo theme. However, in different browsers, I am experiencing some inconsistencies with the emoji styling.

In chrome emojis look similar to:
![image](https://user-images.githubusercontent.com/52419383/87982572-86ac5e00-cac6-11ea-85c3-4ab5215b3551.png)
![image](https://user-images.githubusercontent.com/52419383/87982656-a6dc1d00-cac6-11ea-88fd-c87d835e60c4.png)
Wherea

[2020-07-20 20:32] dbrennand commented on #94
It is also worth noting that I have added the following to the config.toml file:
[code]
From the following [documentation](https://gohugo.io/getting-started/configuration/):
![image](https://user-images.githubusercontent.com/52419383/87983588-21f20300-cac8-11ea-8d5b-f40f7fec03de.png)

[2020-07-21 15:06] dgnicholson commented on #94
Hi @dbrennand . I can't seem to reproduce the issue as the wave emoji appears the same on both Firefox and Chrome for me on Windows.
![image](https://user-images.githubusercontent.com/6208288/88071419-2b23b400-cb4a-11ea-911f-7c28c972eaaa.png)

There's some slight variation on Linux and iOS as would be expected, but nothing like you identify.

Have you made any other changes to the theme?

[2020-07-21 15:33] dgnicholson commented on #92
I'll snag this as I already made this change myself.

[2020-07-21 16:14] dbrennand commented on #94
Hi @dgnicholson
Do you have `enableEmoji = true` set in your `config.toml` file?

I am using Firefox and Chrome on Linux. That might be why?

[2020-07-21 16:30] dgnicholson commented on #94
I did update my config.toml and tested with it enabled and not.

I do suspect it's your Linux distro. What are you running? I tested on Ubuntu which uses [Google’s Noto Color emoji font](https://www.google.com/get/noto/help/emoji/) right out of the box I believe.

[2020-07-21 16:30] dbrennand commented on #94
I am running Fedora 32 :smile:

[2020-07-21 17:21] roddymunro opened #98 "Can't get navigation items to not be in alphabetical order"
Hello,

Very new to Hugo, but thought I'd give it a go.

I'm trying to get my navigation items to **not** be displayed in alphabetical order (ie. 'Home' before 'Blog'). However, I can't seem to achieve this. Based off of the source code here, I tried adding 'weight' to my pages in the config, but that didn't change anything.

How can I achieve this? Many thanks.

[2020-07-21 20:28] #92 closed

[2020-07-23 02:51] dgnicholson commented on #94
@dbrennand Yeah, that's probably the issue. Try installing the Google Noto emoji font and see if that resolves the problem. If you search in the package manager there should be a color and no color version.

Firefox ships with the Twemoji Mozilla font which is why you're seeing some colored emoji in FF, but it's buggy. There is an issue affecting many distros where if sans-serif fonts are used som

[2020-07-23 04:05] dgnicholson commented on #98
@roddymunro Did you start with `weight = 0`? If it's set to `0` it will be considered not set and default to alphabetical ascending. Instead start at `1`. For example, the following will place _blog_ above _about_:
[code]

[2020-07-23 08:52] dbrennand commented on #94
Hi @dgnicholson

Thanks for the reply! I will try this tonight and report back 😄 👍

[2020-07-23 10:41] roddymunro commented on #98
Ah! Thank you - that was it. Closing the issue.

[2020-07-23 10:41] #98 closed

[2020-07-23 13:38] jwalsh2me opened #100 "Dark Mode ?"
Is Dark Mode support an option that I missed in the `config.toml`?  I noticed you have it on your site @jakewies but I think your site is also a more modified version of the Codex theme.

[2020-07-23 15:42] jakewies commented on #100
Hey @jakewies ! My personal site is no longer using Hugo or this theme. So no, there's no dark mode support. Sorry! If that's a feature you'd like to implement, we'd welcome a PR!

[2020-07-23 15:42] #100 closed

[2020-07-23 19:09] dbrennand commented on #94
Hey @dgnicholson
In Firefox I removed the value `sans-serif` from `font.name-list.sans-serif.x-western` and emojis are showing correctly now! Thanks a lot for your help! :smile:

[2020-07-23 19:09] #94 closed

[2020-07-25 15:16] jwalsh2me opened #102 "odd URL behavior, deployed to AWS Amplify"
I am new to Hugo, just spun up a new site using Codex theme and build and deploy it via AWS Amplify.  I am seeing some off behavior in redirects and handling of pages.

Localhost works fine.  I was able to fix the blog posts by adding a trailing `/` to the url like:

[code]

That seemed to fix that and did not break running it local, but I noticed now when deployed that the category does not work

[2020-07-26 14:23] RLesser opened #103 "Tags page has hardcoded "/blog" link."
In Layouts/taxonomy/tag.html, the all posts link is hardcoded to "/blog", which causes issues if the blog is not hosted on the baseURL, or if the place with posts is not called "blog". I'm relatively new to Hugo so I don't have a specific code suggestion, but thought it would be good to raise this.

[2020-07-26 14:38] jwalsh2me commented on #102
OK, think it is an issue with Amplify and their default rewrite behavior.

I added in two rules and the tags now work and I was able to remove the trailing `/` for `/blog`

<img width="1009" alt="Screen Shot 2020-07-26 at 9 32 28 AM" src="https://user-images.githubusercontent.com/22819585/88481880-93481080-cf23-11ea-8009-c0497b4c8444.png">

Had to make a few tweaks to make Amplify work with the th

[2020-07-26 14:40] jwalsh2me commented on #103
I had similar issue, was able to do it in a rewrite rule. @RLesser see #102

[2020-07-26 14:49] jwalsh2me commented on #102
Actually, just pushed the problem somewhere else.

So the #python tag works here now with the rewrite ->. https://www.jwalsh2.me/blog

But is broken here when clicking on the Python tag -> https://www.jwalsh2.me/blog/hello-world/

So I am back to the first issue...  Also seems similar to #103

[2020-07-26 14:50] jwalsh2me commented on #103
Well... my rewrite fixed it on one place where it was broken, but broke it where it originally worked.

[2020-07-27 15:27] jwalsh2me commented on #102
@jakewies any thoughts where I can look for the URL generation?

[2020-07-28 03:59] WickedBrat opened #104 "Adding new kinds of pages"
Hi, I wanted to add a photo gallery to my [website](https://wickedbrat.com). Will that be possible?

[2020-07-28 19:49] jakewies commented on #104
Hey @WickedBrat,

Thanks for your interest in this project! You absolutely can add new pages to the theme. You can follow the [`README`](https://github.com/jakewies/hugo-theme-codex#adding-a-new-section-menu), where we document how to add a new page. We're actually using the example `/photos`.

[2020-07-28 19:49] #104 closed

[2020-07-28 19:57] jakewies commented on #102
Hey @jwalsh2me , sorry that it has taken me some time to get to your issue. I could not reproduce the error outlined in your initial comment, but it looks like that issue was solved. Your new issue is that the tags on the post page are redirecting you to the home page.

There are some differences I'm noticing here:

1. The tags on the post-list page are not ending in a trailing slash. Clicking the

[2020-07-28 20:06] jakewies commented on #103
Yes, definitely a good issue to raise @RLesser

@jwalsh2me has implemented a PR and I've made some notes. We're just waiting on some adjustments 😄

[2020-07-29 01:15] jwalsh2me commented on #102
Thanks let me dig into it some more.  It does seem like it is something Amplify is doing as the site demo page renders fine if I serve it up locally.

[2020-07-29 02:46] dgnicholson opened #106 "Add sidenote support"
Hi folks.

I've been playing with adding sidenote support. This is what my current implementation looks like:
![image](https://user-images.githubusercontent.com/6208288/88749339-754bfd00-d129-11ea-8717-913211a8a6e7.png)

On mobile, sidenotes appear within the text.

![image](https://user-images.githubusercontent.com/6208288/88750116-36b74200-d12b-11ea-8494-996c699e1a65.png)

They are added via sho

[2020-07-29 04:11] jakewies commented on #106
I actually really dig on this. I'm wondering (I'm on mobile) if it's possible to have side notes render at the end of a post. Even if it's just on mobile. But I imagine that would change the implementation drastically. I've noticed blogs include this type of thing towards the end.

But it's just a suggestion. @dgnicholson this project is as much yours as it is mine. If you think it works well enou

[2020-07-29 12:57] CER10TY opened #107 "Various background colors are hardcoded"
I noticed that various background colors (like that of the navbar) are currently hardcoded to #fff instead of using the $white variable defined in _colors.scss (or _vars). Is this intentional?

[2020-07-29 13:14] jakewies commented on #107
Hey @CER10TY

No it's not intentional. If you'd like to open a PR to fix that it would be greatly appreciated! Thanks for the heads up 😊

[2020-07-29 13:16] CER10TY commented on #107
Hey,

just opened the PR for the fix.

[2020-07-29 13:23] CER10TY commented on #107
Hey @jakewies,

good to know! I just opened the PR, that should switch out all of the hardcoded variables.

[2020-07-29 13:38] #107 closed

[2020-07-29 16:16] iamericfletcher opened #110 "Make Twitter Cards a Configurable Option"
Just released my first blog post to Twitter without any success in generating a Twitter card for the post. I followed a couple of tutorials, but none ended up working. I have to admit, I am still new to programming, so having this feature as a configurable option would be especially helpful for someone like me.

[https://ericfletcher.netlify.app/](https://ericfletcher.netlify.app/)

Thank you very

[2020-07-29 17:34] #110 closed

[2020-07-29 17:35] iamericfletcher commented on #110
This issue was already opened by someone else. Apologies.

[2020-07-29 18:13] iamericfletcher commented on #89
Looking forward to using and sharing this enhancement. Thank you.

[2020-07-29 20:50] dgnicholson commented on #106
@jakewies Thanks for the idea! I'll have a look at that and see what's involved. Another solution I was thinking of was hiding the notes on mobile until the user clicks the superscript numeral which would then expand it inline, but I figured the target is very small and might be too easily overlooked.

[2020-07-30 14:21] CER10TY opened #112 "Table of Contents adds overflow in mobile view"
Hi,

I noticed that the TOC adds a bit of overflow when viewing any blog post on mobile, since the TOC is set to `visibility: hidden` instead of `display: none`.

[2020-07-31 07:52] WickedBrat commented on #104
Hi @jakewies
Thanks for the directions. Yes, I see that particular example about `photos` but my question was whether we can add a different layout with a different layout. As far as I understand, this photos page would be similar to a blog page only, where we can add photos too. Please correct me if I'm wrong.

[2020-07-31 07:59] WickedBrat commented on #104
I want to have a photos page to show the pics in a grid view. This could also open a modal to show the image in full screen. Could this be done if we tweak with the template to generate a page that generates HTML of the same grid view and take images as args via markdown?

[2020-07-31 12:28] jakewies commented on #104
Yes you can. You can create a new layout in your own layouts directory. Hugo documentation explains how the template lookup order works. If it finds a layout for your content type it will use it instead of the theme layout.

https://gohugo.io/templates/lookup-order/

[2020-07-31 15:35] jwalsh2me commented on #102
@jakewies So I changed themes, went with Anatole.  No issues with the slashes.  Their config.toml does have all the trailing `/` for the pages.  I am not sure if there is just an inconsistency with the Codex theme in using / in some places or others.  But it works just fine serving up local, just other themes I do not seem to have to play with the config or add rewrites to the config.

AWS Amplify

[2020-08-01 04:23] WickedBrat commented on #104
Thanks! I will try that out :D

[2020-08-08 14:52] liolok opened #114 "Invisible `blockquote::before`"
The semi-transparent double quotes get invisible randomly, I have to comment out this line in `themes/hugo-theme-codex/assets/scss/partials/_reset.scss`:

[code]

to make the quotes work as expected, however I have no idea about the side effect.

[2020-08-11 09:11] xvallspl opened #119 "Add support for Admonitions"
It would be really nice to have support for Admonitions: https://gohugo.io/contribute/documentation/#admonitions

I personally like the style and variety of the mkdocs Material theme, but I don't know about their fit with codex: https://squidfunk.github.io/mkdocs-material/reference/admonitions/#supported-types

I won't have time to look at this for a while, so I leave it here just in case someone

[2020-08-11 10:34] xvallspl opened #120 "Syntax highlighting broken"
I noticed that syntax highlighting is broken for some languages, at least cpp using markdown's default, after importing ../partials/github-syntax-highlighting, which overrides the default font colors.

[2020-08-16 18:14] miguelbemartin commented on #78
Is it possible to paginate the blog? I don't find the way...

[2020-08-26 10:38] ajdintrejic opened #123 "Removing links to previous and next post"
Hi,

I've used your theme and I think this would be a good feature. In post Params, we can insert another value like `cleanPage = true`. This would be useful here:

[code]
please note, there has to be something in the first part of the if statement.

I'd add just one variable called `cleanPost` to page parameters and that parameter would remove the pagination. This would be useful on pages like /a

[2020-08-27 19:26] SanchithHegde commented on #123
@ajdintrejic I'd like to suggest a modification:

[code]

I haven't tested this locally, but I believe this _should_ work. Let me know if it doesn't.

Another approach would be to conditionally display the pagination partial by updating [single.html#L21](https://github.com/jakewies/hugo-theme-codex/blob/4128b8474f3a7230bebf5708c33e911b21dea761/layouts/_default/single.html#L21) like so:
[code]

I p

[2020-09-05 14:59] SirCharan opened #124 "Adding Description under the blog titles"
Is there a way to add a description under the blog titles in the /blog?
![image](https://user-images.githubusercontent.com/48174619/92307758-40e42000-efb6-11ea-8a40-cc16048b988d.png)

Something like whats present in Ramium?

[2020-09-10 18:52] aareet opened #125 "unparsable structured data"
Just got notified of a new issue from the Google search console. May be an issue with content, I’m investigating.

![D58F565D-621E-4A0E-9969-C22BFAAEE611](https://user-images.githubusercontent.com/33654/92785361-3336ed80-f35c-11ea-813d-25e2833a1dae.png)

[2020-09-17 04:21] aareet commented on #125
Apparently it has an issue with a character in the date published field
![Screen Shot 2020-09-16 at 9 20 47 PM](https://user-images.githubusercontent.com/33654/93419768-85977300-f862-11ea-843e-52b4263d3a3f.png)

[2020-09-17 04:25] aareet commented on #125
From my perspective, it actually looks the same as the other sites, and Google doesn't seem to have a problem with those 🤔
![Screen Shot 2020-09-16 at 9 24 50 PM](https://user-images.githubusercontent.com/33654/93420103-24bc6a80-f863-11ea-92aa-3e31313f5549.png)

[2020-09-24 20:07] #125 closed

[2020-09-24 20:08] aareet commented on #106
Just want to chime in with my support for this! Thanks for working on this @dgnicholson

[2020-09-30 05:51] arjitsrivastava opened #127 "Issue with ordering"
Hey everyone.

Firstly, thank you for creating and maintaining this Hugo theme. I've been having fun playing with the content and the theme, in general. 💯

But, there's something silly I've been struggling with and failing to figure out what's the root cause for it. So for instance, here's the ordering which I can see locally on my machine when I build.

![Screenshot 2020-09-30 at 11 17 16 AM](htt

[2020-09-30 10:12] dbrennand opened #128 "Blog page file names issue on Windows"
Hi there,

I have switched over from Linux to Windows and upon doing so I am running into issues with the blog markdown pages prefixing with a colon (:).

Windows cannot work out what to do with the colon. What are my options here to continue using this theme? Furthermore, just out of curiosity, why do the blog file names prefix with a colon?

Thanks.

[Useful link for some background](http://xahl

[2020-10-04 13:09] WickedBrat opened #130 "Add a new homepage-like page"
I want a new page that is more like a homepage. But I'm unable to do that by creating a `_index.html` file.

I want to have a section in the middle of the page (same as the homepage) but I want that to be on a different page and just a paragraph of text.

[2020-10-12 00:15] wilsonehusin commented on #46
I'm running into the same issue / want today, albeit a slightly different use case — I want a simple emoji to be my favicon

@kentnek are you still working on this? if not, I can PR in the addition for `append_head` or such

[2020-10-12 19:10] #128 closed

[2020-10-13 08:20] kentnek commented on #46
@wilsonehusin oh please feel free to tackle it. I'm currently busy with real life so I can't work on this at the moment. Thank you!

[2020-10-14 02:33] wilsonehusin commented on #46
I've raised the PR (#131) I personally do not have any use case for hooks, so I decided not to implement it immediately, unless you have other thoughts on this, @jakewies.

[2020-10-14 15:02] jakewies commented on #46
Thanks @wilsonehusin I will make sure to take a peak. I have a lot of stuff to tackle for this project, been very busy IRL.

[2020-10-18 14:59] jakewies commented on #46
Thank you @wilsonehusin for #131 !

Would you be interested and also working on a few other partials? If you haven't come across the need in your own work, then not to worry. Just curious. I seee that #46 aims to address a few other parts of the base template like `title`.

[2020-10-18 15:05] jakewies commented on #130
Are you wanting to override the current homepage? Or create a completely new page that looks like the homepage?

If you are looking for the former, you can simply override the default layout. [See the README](https://github.com/jakewies/hugo-theme-codex#configuring-the-home-page) for more info.

If you are looking for the latter, you would just need to add a new page to your site following Hugo's

[2020-10-18 15:05] #130 closed

[2020-10-18 15:26] jakewies commented on #127
Hey @arjitsrivastava , this looks like an issue with the structure of your content and not specifically with the theme itself. You might want to check the Hugo docs and see if you're rendering a list of items properly.

[2020-10-18 15:26] #127 closed

[2020-10-18 15:27] jakewies commented on #106
@dgnicholson any update? Would love to get this in the project. No pressure!

[2020-10-18 15:30] jakewies commented on #124
Hey @SirCharan , there's been an open PR (https://github.com/jakewies/hugo-theme-codex/pull/75) for this feature for a few months now, but it has gone pretty stale and I don't have much time to work on it at the moment. If there were more support for this I'd do my best to make it a priority but it doesn't seem to be.

That being said, if you'd like to take a peak at the PR and see how it's done,

[2020-10-18 15:30] #124 closed

[2020-10-18 15:31] wilsonehusin commented on #46
I'll stop by again when I come across some other use cases, I don't have anything in mind at the moment though 🙂

[2020-10-18 15:33] jakewies commented on #123
This is a great idea. There's a lot of opinions about the usefulness of pagination in blog posts these days. So thank you for bringing it up @ajdintrejic . I agree with the semantics proposed by @SanchithHegde :

[code]

Would you be open to making a contribution @ajdintrejic ?

[2020-10-18 15:34] jakewies commented on #46
No worries! I will keep this Issue open for future newcomers who might want to make some contributions.

[2020-10-18 15:44] jakewies commented on #112
Hey @CER10TY thanks for raising this issue. I just attempted to reproduce and I can see the issue. I'm going to submit a PR to get this fixed. I appreciate it!

[2020-10-18 15:51] #112 closed

[2020-10-18 15:53] jakewies commented on #78
@miguelbemartin this feature is not yet supported. But it's something that's on the roadmap. If you'd like to contribute go for it!

[2020-10-18 15:53] #120 closed

[2020-10-18 15:54] jakewies commented on #119
@xvallspl this looks like a feature out of the scope of this project. Going to close.

[2020-10-18 15:54] #119 closed

[2020-10-18 15:55] ajdintrejic commented on #123
Thanks, I'll make changes and do a pr in couple of days.

[2020-10-18 15:55] #114 closed

[2020-10-18 15:58] jakewies commented on #102
This may have been solved in https://github.com/jakewies/hugo-theme-codex/pull/122. Closing.

[2020-10-18 15:58] #102 closed

[2020-10-18 16:01] jakewies commented on #103
This should be solved when #95 is merged

[2020-10-18 16:02] jakewies commented on #87
Looks like we would need to have some additional language support. I don't have time to dive into this issue at the moment, and there doesn't seem to be a lot of push for this, but I'm going to keep it open. If anyone would like to tackle it, go for it!

[2020-10-18 20:02] dgnicholson commented on #106
@jakewies still on my to-do list due to Life™, but not forgotten. I dusted it off today and the functionality is close to being done, except for a counting bug and issues with the sidenote text interacting with the ToC. I'm thinking the latter issue can be addressed easily enough by showing the sidenotes inline once the width of the window starts causing overlapping with the TOC. I'd also like to

[2020-10-18 23:59] sdil commented on #112
thank you @jakewies for the fix! It works perfectly fine on my blog now :D

[2020-10-19 14:00] jakewies commented on #106
Awesome! Totes understand about Life, it took me a few months to get some time for this project this weekend. If it makes the structure of this feature easier, implementing as strictly footnotes would be pretty great too. Just a thought.

[2020-10-19 23:33] vessenes opened #137 "Newb Q: How do I get Blog Titles onto the Homepage?"
Hi,

I'd like to use this theme. It's rad. I would also like to bubble up Blog titles on to the beautifully minimal homepage. I presume if I knew Hugo better this would be easy. Can someone point me in the right direction? I'm very experienced with go, and a beginner at hugo.

Thank you!

[2020-10-20 00:55] vessenes commented on #137
For the record, I edited ```layouts/index.html``` and put something like this into it:

[code]

[2020-10-20 00:55] #137 closed

[2020-10-20 17:53] miguelbemartin commented on #78
Thanks for your answer. I didn't use this theme in the end as it didn't have support for pagination. If not, I would be happy to help to contribute to this repo.

[2020-10-23 01:37] wilsonehusin opened #138 "Consider structure to be Turbolinks friendly"
Disclaimer: my knowledge of front-end web development is very minimal.

## What is this?
I'd like to propose Turbolinks integrations, perhaps in an opt-in manner.

### What is Turbolinks?
[Turbolinks](https://github.com/turbolinks/turbolinks) is a JavaScript utility which makes inter-page render of your website _feel_ faster by swapping the `<body>` content.

### Is it any good?
Yes! To be complet

[2020-10-23 05:51] wilsonehusin commented on #138
I just realized it's hard to convey the gap between click to render in GIF due to its low frame rate. I guess you'll have to try and experience it yourself!

[2020-11-10 12:44] vorkuta opened #140 "Google Analytics cookie issues"
Came across some warnings after adding my GA ID.

[code]

Using Firefox Browser on Windows (82.0.2 64-bit)

[2020-11-22 15:19] casperwang opened #142 "How to change the order of "section menu""
Hello~
I've created three "section menu" which is "About", "Archive" and "Home". And I want "Home" to stay at the top, what can I do to change the order of them? Thks

[2020-12-09 03:12] dgnicholson commented on #106
Quick Update. After a few iterations, I've struggled to get the design work with the way the ToC is implemented. For situations where the ToC overlaps the sidenotes while scrolling I've tried various solutions like changing the background opacity of the ToC to blur out the sidenotes but that and my other solutions look kinda janky.

The only thing I can think of is to have the sidenote appear inli

[2020-12-15 00:55] wilsonehusin commented on #138
closing this as I'm looking at other alternatives for turbolinks.

[2020-12-15 00:55] #138 closed

[2021-01-06 16:45] rbnis commented on #142
I don't know if it's relevatn to you, but for future reference you can use the `weight` parameter. Like this:

[code]

[2021-01-11 17:58] gwo0d opened #148 "Nav link does not turn active for single pages."
The link in the nav bar does not become active when on single pages, only on list and blog pages.

Example: [uni.gwood.dev](https://uni.gwood.dev) - the About page.

[2021-01-11 18:11] rbnis commented on #148
Hi,

first thing that jumps to my head is, do you have set the `identifier` in the menu section of your config?
If not, this should be your problem. When using a `.toml `file, the manu entry should look something like this:
[code]

If this shloudn't fix your problem, could you please paste your config?

[2021-01-11 18:14] gwo0d commented on #148
Hi there, I don't think that's it - this is my current entry:
[code]

[2021-01-11 18:40] rbnis commented on #148
Ahh I see the problem. I have played around with it a bit and found a low effort fix.

Under `content` you can create another directory called `about` and move your `about.md` there. But you have to rename it to `_index.md`. You don't even have to change your config.

It's not the best way to do things but it will get the job done.

I'll see if I can get a better fix for this.

[2021-01-11 18:44] gwo0d commented on #148
That’s absolutely awesome, works perfectly.

Thanks!

From: Robin <notifications@github.com>
Sent: 11 January 2021 18:40
To: jakewies/hugo-theme-codex <hugo-theme-codex@noreply.github.com>
Cc: George Wood <hello@gwood.dev>; Author <author@noreply.github.com>
Subject: Re: [jakewies/hugo-theme-codex] Nav link does not turn active for single pages. (#148)

Ahh I see the problem. I have played around

[2021-01-11 18:45] gwo0d commented on #148
That works absolutely perfectly.

Thanks!

[2021-01-11 18:50] gwo0d commented on #148
Oh actually, now the menu is working but my about page is showing up like this...
![image](https://user-images.githubusercontent.com/60616269/104225143-e5cba980-543d-11eb-97f3-871564a99bd2.png)

[2021-01-11 19:39] rbnis commented on #148
I think I have found another solution.

Given your about page is at `content/about.md` you can add the following to the frontmatter of that page:
[code]

The menu entrie can stay the same as above.

I hope this helps you out.

[2021-01-23 20:58] #87 closed

[2021-01-23 20:59] jakewies commented on #87
@Yeonhoon looks like this issue may now be solved with the addition of https://github.com/jakewies/hugo-theme-codex/pull/146#issuecomment-766177956 from @rbnis . Take a look if you are still interested in using the project.

[2021-01-27 09:56] frauseo commented on #148
If i Follow your last [post](https://github.com/jakewies/hugo-theme-codex/issues/148#issuecomment-758177539) i get a WARNING message:
`WARN 2021/01/27 10:52:39 "/home/fr/Workspace/homepage/r4o/content/about.md:1:1": duplicate menu entry with identifier "about" in menu "main"`

is there a more elegant solution to this Problem?

[2021-01-30 20:25] MarcelWalk opened #154 "Build Fails (Instagram API)"
ERROR 2021/01/30 21:24:36 Failed to get JSON resource "https://api.instagram.com/oembed/?url=https://www.instagram.com/p/BGvuInzyFAe/&amp;maxwidth=640&amp;omitscript=true": Failed to retrieve remote file: Too Many Requests

[2021-02-07 16:35] mejedi opened #155 "Tag with spaces isn't shown in post"
If a tag with spaces is aligned to a post, it's not rendered. A fix
[code]

[2021-02-07 16:41] mejedi opened #156 "Tags are shown in urlize form in taxonomies, changes spaces to dashes and turns everything lowercase"
I like to use tags with spaces; also capitalisation matters. A fix as per Hugo [docs](https://gohugo.io/templates/taxonomy-templates/#example-list-all-site-tags):
[code]

[2021-02-13 12:07] #154 closed

[2021-02-22 16:07] gprst opened #162 "404.html issue on mobile view"
The hamburger menu overlaps the content of the 404.html page, as shown in this screenshot (iPhone 6/7/8 view) :

![image](https://user-images.githubusercontent.com/32643653/108734999-50d5c900-7530-11eb-930e-6a91549942fe.png)

[2021-02-24 19:11] gprst commented on #162
It seems that the following rule on _main.scss :
[code]
is overriden by this one on about.scss :
[code]

[2021-03-23 14:03] ragozzine opened #165 "serve error - MediaType.Suffix"
Hello!

Starting today (Mar 23, 2021) I started getting this local error with `hugo serve`:

`Failed to render pages: render of "home" failed: "/Users/ragozzine/web/laboratory/fishex/themes/hugo-theme-codex/layouts/_default/baseof.html:41:95": execute of template failed: template: index.html:41:95: executing "index.html" at <.MediaType.Suffix>: can't evaluate field Suffix in type media.Type`

In t

[2021-03-24 00:47] soZra commented on #165
I got the same problem and I guess you might have upgraded to Hugo 0.82 as I did. I found in the Hugo 0.82 release note that they've moved `MediaType.Suffix ` to `MediaType.FirstSuffix.Suffix `. Then I  replaced it in `hugo-theme-codex/layouts/_default/baseof.html` and it worked.

[2021-03-26 00:52] ragozzine commented on #165
Great tip. I suggested such a change to the theme in https://github.com/jakewies/hugo-theme-codex/pull/166

[2021-03-27 06:57] 1-whateveruwant commented on #165
THX @soZra it works!

[2021-03-30 14:42] ghost opened #169 "Scrolling"
Hi,
is it possible to go from the about section to the others by scrolling the page? How?

Thanks!

[2021-04-12 10:28] rahulmkhj commented on #165
Thank you @soZra , you're a champ! :)

[2021-05-06 19:42] rigille commented on #165
thanks @soZra!

[2021-05-09 06:32] 2keebs commented on #165
Absolute champ! Been trawling through the net trying to solve this and didn't realise it might've been an issue with the theme itself. Cheers mate @soZra

[2021-06-16 18:42] PyronoidDev commented on #165
Just had this problem while deploying my site with a build server and found that setting an environment variable of `HUGO_VERSION` to "0.80.0" is a good fix for people who are deploying with a similar system to mine (DigitalOcean App). Hope this helps anyone else struggling with a similar problem!

Great theme, by the way!

[2021-06-16 21:03] jakewies commented on #165
Hey all, sorry for the delayed response on this!

So this issue looks like it is plaguing many newcomers to the theme when they are running the most recent version of Hugo. The fix in https://github.com/jakewies/hugo-theme-codex/pull/166 looks like it should solve it, but that would also mean anyone using Hugo versions < 0.82 would run into issues.

@PyronoidDev your fix would definitely help thos

[2021-06-16 21:05] jakewies commented on #169
No this is not possible.

[2021-06-16 21:05] #169 closed

[2021-06-17 11:40] #162 closed

[2021-06-24 16:56] TeoDev1611 opened #175 "Add a demo link for Codex"
Hi 👋🏼 you can provide a demo link for preview the theme. The demo link on the repository information is broken

![image](https://user-images.githubusercontent.com/73144037/123303148-19c5f300-d4e3-11eb-8ded-e485ea1e4c54.png)

Thanks

[2021-07-20 15:09] callagg1 opened #177 "Adding a fabform.io contact form to the template"
Adding a fabform.io contact form to the template

Hello
Since this a static hugo template and has no contact form or database hooked up.
I was wondering if you could add a contact form to the template to use with https://fabform.io the [google forms alternative](https://fabform.io)

It's just a few lines of code

I can update your template or you can if you like and push the changes to your reposi

[2021-07-20 20:12] jakewies commented on #177
Hey @callagg1,

This theme is purposefully void of certain features. If you want to extend the theme you can take a look at the documentation in the README. There should be enough information to get you going in the right direction.

[2021-07-20 20:12] #177 closed

[2021-07-20 20:17] jakewies commented on #165
To everyone still following this issue, @altescape has created https://github.com/jakewies/hugo-theme-codex/pull/176 which I have now merged and should resolve this. Thanks again @ragozzine !

[2021-07-20 20:17] #165 closed

[2021-07-25 16:55] halink0803 opened #179 "Link in this git about is incorrect"
The current link in the git about is incorrect, the correct link is: https://themes.gohugo.io/themes/hugo-theme-codex/

Not a big issue, but also easy to fix. Pls update it if possible 👍

[2021-07-26 15:32] jakewies commented on #179
Thank you. Fixed!

[2021-07-26 15:32] #179 closed

[2021-07-26 15:34] jakewies commented on #175
@TeoDev1611 I believe the demo link is broken because we were not passing Hugo's official theme requirements. My best guess is that https://github.com/jakewies/hugo-theme-codex/issues/165 was causing the issue. It has since been resolved and I'll look into getting a demo link up.

[2021-07-26 15:52] #175 closed

[2021-07-26 15:53] jakewies commented on #175
I've drafted up a new [release](https://github.com/jakewies/hugo-theme-codex/releases/tag/v1.6.0). This should hopefully prompt the Hugo Themes Builder to pull from our latest codebase and correctly build the demo. More info can be found [here](https://github.com/gohugoio/hugoThemesSiteBuilder/blob/main/README.md#faq).

[2021-09-25 21:01] TimothyElder opened #180 "Social links are not displayed on site"
I have generated my site and when I open the site from the hugo server, my social links appear just as they should, but on the rendered site, the social links disappear. Here is my [page](http://timothyelder.com/) where the links are not displayed.

[2021-10-04 19:38] TimothyElder commented on #180
I am updating this as I figured out the problem and will add at least one solution here in case anyone runs into this problem:

The issue was that when I ran the Hugo code to generate the HTML files for my website all the URLs to the static images for the social icons I was using had HTTPS prefixes. My website was not HTTPS enabled and so the URLs were not directing to the actual location of the i

[2022-01-21 09:08] philippleppert opened #183 "Change default layout for new section menu?"
Hello Jake,

is it possible to change the **layout for subpages**? Let's say I add a new section menu "photos" as described in the readme. But I don't want to create blog posts in this section but only have a static site like the /about page. I guess I have to modify this somewhere under /layouts but I have no clue where and how. Can you give me a hint how to do this?

Thank you
Philipp

[2022-05-24 19:22] iandstanley opened #185 "Adding New Pages"
Hi i'm new to Hugo but have used a few static site generators before.

I've figured out how to add a page by adding a markdown file in the root of the contents, and also how to add the page to the main menu (or not add to main menu as required).

When I look at a page that I have added (eg. page on localhost:1313/about/ for example) I get the blog previous/next post on the PAGE.

I assume I either

[2022-05-24 19:48] iandstanley opened #186 "Override Menu Order"
Is it possible to override the menu order?

The default appears to be alphabetical but I don't see how this can be overridden

thanks

[2022-05-24 19:51] #186 closed, assigned to nobody